@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
::-webkit-scrollbar {
    display: none;
}

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
}

body {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    /* width: 100%; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Start Here */
/* Hide the navigation drawer by default */
#nav-drawer {
    z-index: 2; /* higher than the z-index of the header element */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  /* Style the navigation drawer */
  #nav-drawer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Style the navigation links */
  #nav-drawer a {
    display: block;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  /* Style the navigation drawer trigger button */
  #nav-drawer-trigger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
  }
  
  
header {
    background-color: var(--grey);
    /* padding: 1rem; */
}

header h1 {
    font-size: 2.5rem;
    line-height: 2;
    text-align: center;
    color: var(--color-primary);
}

form input {
    width: 15rem;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    border-bottom: 2px solid var(--color-sec);
}

.btn {
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--color-sec);
    padding: 5px;
    border-radius: 5px;
}

.active {
    background-color: var(--color-primary);
}

#store-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    padding: 2rem 0;
}

.store-product {
    border: 1px solid var(--grey);
    border-radius: 3px;
    max-width: 250px;
    animation: slide-up 0.5s ease 1;
    transform: all 0.3s;
}

.product-details {
    text-align: center;
    padding-bottom: 1rem;
    background-color: var(--grey);
}

.product-details h2 {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-details p {
    font-size: 1rem;
    color: green;
    padding-bottom: 1rem;
    font-weight: 700;
}

.product-details p span {
    text-decoration: line-through;
    color: red;
    font-weight: normal;
}

.product-details a {
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--color-sec);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.product-details a:hover {
    background-color: var(--color-primary);
}

.no-result {
    display: none;
    color: red;
    padding-bottom: 2rem;
}

.show {
    display: block;
}

@keyframes slide-up {
    0% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    #store-products {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        padding: 1rem;
    }
}

  /*centre header*/
h1 {
    text-align: center;
  }

    /*centre search box*/
  .search-box {
    margin-bottom: 10px; /* add some margin at the bottom */
    display: flex;
    justify-content: center;
  }

  /*centre filter buttons*/
  .filter-box {
    margin-top: 10px; /* add some margin at the top */
    display: flex;
    justify-content: center;
  }
  
  .filter-box {
        display: flex; /* use the flex layout */
    justify-content: space-around; /* evenly distribute the buttons within the filter box */
  }
  
  .filter-box a {
    margin: 0 2px;
    /* add padding as needed */
  }
 
 header {
    /* Original styles for the header element */
 }
 
 header.fixed {
    position: fixed;
    top: 0;
    width: 100%; /* Add this line to make the header take up the full width when it is fixed */
 }
 /* Style the WhatsApp message icon */
 #whatsapp-icon {
    position: fixed; /* Set the icon to fixed position */
    bottom: 50; /* Align the icon to the bottom of the page */
    right: 20px; /* Add some padding to the right side */
    z-index: 1; /* Make sure the icon is displayed on top of other elements */
    padding-bottom: 20px;
  }

  #whatsapp-icon i {
    font-size: 50px; /* Set the size of the icon */
    color: #25D366; /* Set the color of the icon */
  }

  #whatsapp-icon {
position: fixed; /* Set the icon to fixed position */
bottom: 50px; /* Align the icon 50 pixels above the bottom of the page */
right: 20px; /* Add some padding to the right side */
z-index: 1; /* Make sure the icon is displayed on top of other elements */
}

#refresh-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000; /* set the color of the icon */
    position: fixed;
    margin-right: 1rem;
    padding-left: 60px; /* Add padding on the bottom of the refresh button */

  }
  
  #refresh-button i {
    transform: rotate(0deg); /* set the initial rotation of the icon */
    transition: transform 0.9s ease; /* add a transition to the rotation */
  }

  #refresh-button.rotating i {
    transform: rotate(360deg);
    font-size: 2rem;
    color: #333;
  }
  
  #refresh-button:hover i {
    transform: rotate(360deg); /* rotate the icon when hovering */
  }
  

/* Style for selected buttons */
#navbar a.selected {
    background-color: #333;
    color: #02569B;
  }
  
 /* Style the selected navbar item */
#navbar a.selected {
  background-color: #ddd; /* Add a background color */
  border-radius: 20px; /* Add rounded corners */
  padding: 10px 20px; /* Add padding */
}

   /* Style the navigation bar */
   #navbar {
        background-color: #02569B; /* Set the background color to red */
        color: #fff;
        /* Set the navbar to fixed position at the bottom of the page */
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        /* Add some padding and styling for the links */
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 20px;
      }

      #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
      }

      #navbar a:hover {
        color: blue;
      }

      header {
        background-color: #02569B; /* same color as the bottom nav bar */
        position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
      
      header h1 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 2;
        color: var(--color-primary);
      }

      #nav-drawer {
        background-color: #02569B; /* same color as the header element */
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      

      #nav-drawer-trigger {
        z-index: 2; /* same as the z-index of the nav-drawer element */
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1;
        display: inline-block;
        padding: 10px;
        color: #ffffff;
        cursor: pointer;
        border: none; /* remove the rectangular border */
        transform: scale(1.5); /* Increase the size of the hamburger menu icon */

      }

      #nav-drawer-trigger {
        background-color: transparent;
      }
      

/*hide items*/
      .hidden {
        display: none;
      }

      .welcome-message p {
    right: 10px; /* Add some padding to the right side */
    left: 10px; /* Add some padding to the right side */
      }

      .main-container p {
        padding: 10px;
      }      

      /* #main-container {
        height: 400px;
        overflow-y: scroll;
        overflow-x: scroll;

      } */
      
      /*add share button*/
      .share-btn {
        display: inline-block;
        background-color: #9d0191; /* or any other color you want */
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .share-btn i {
        margin-right: 0.5rem;
      }

      .share-btn-container {
        padding-top:210px;
      }
      
      
      




    
      
      
      

 